@charset "utf-8";


/* HTML and Body styles */
html {
    background: url(night-blue-wallpapers-25264-6920847.jpg) fixed;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body {
    background: url() center;
    background-color: rgb(191, 192, 191);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: 960px;
    min-width: 640px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: rgb(88, 130, 247) 5px 0px 15px,
        rgb(88, 130, 247) -5px 0px 15px;
}

/* H1 Styles */

h1 {
    text-align: center;
    font-size: 40px;
}

#mainH1 {
    font-size: 55px;
    text-shadow: rgb(88, 130, 247) 2px 2px 1px, rgba(21, 21, 21, 0.66) 5px 5px 25px;
}

/* Article Styles */
article {
    font-size: 17.5px;
    padding-bottom: 10px;
    height: 150px;
}

h1#secondH1 {
    height: 65px;
}

#last {
    height: 65px;
}

article#formArticle {
    height: 70px;
}

article#article2 {
    height: 550px;
}

article#article3 {
    height: 250px;
}

article#article4 {
    height: 400px;
}

/* Aside Styles */
aside {
    position: relative;
    left: 310px;
    bottom: 150px;
    top: 0px;
}

/* Navigation Styles */

::after {
    clear: both;
    content: "";
    display: table;
}

.hnav ul {
    width: 100%;
    padding: 0px 0px;

}

.hnav li {
    list-style-type: none;
    display: block;
    width: 25%;
    float: left;
    text-decoration: none;
    text-align: center
}

.hnav a {
    text-align: center;
    text-decoration: none;
    width: 100%;
    color: black;
}

nav a:active,
nav a:hover {
    color: #005A9C;
}

nav a:hover,
nav a:active {
    background-color: black;
    display: block;
}

a.workNav {
    text-decoration: none;
    color: #005A9C;
    line-height: 1.8em;

}

article#work1 a:active,
article#work1 a:hover {
    color: white;
}

/* Footer Styles */


footer {
    background-color: black;
    padding: 8px;
    color: rgba(21, 17, 17, .6);
    margin: 1px;
}

footer a {
    display: block;
    width: 100%;
    float: left;
    text-align: center;
}



footer p {
    width: 33%;
    display: block;
    float: left;
}

footer p::after {
    content: "";
    display: table;
    clear: both;
}

footer:after {
    content: "";
    clear: both;
    display: table;
}

footer p a:link,
footer p a:visited {
    text-decoration: none;
    color: rgb(88, 130, 247);
}

footer p a:active,
footer p a:hover {
    text-decoration: underline;
    color: #005A9C;
}