@charset "utf-8";


/* HTML and Body styles */
html {
    background-color: #005A9C;

}

body {
    background-color: rgb(191, 192, 191);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: 960px;
    min-width: 640px;
}

h1 {
    text-align: center;
}

/* Navigation Styles */

::after {
    clear: both;
    content: "";
    display: table;
}

.hnav ul {
    width: 100%;
    padding: 0px 0px;
}

.hnav li {
    list-style-type: none;
    display: block;
    width: 25%;
    float: left;
    text-decoration: none;
    text-align: center
}

.hnav a {
    text-align: center;
    text-decoration: none;
    width: 100%;
    color: black;
}

nav a:active,
nav a:hover {
    color: #005A9C;
}